<launch>
    <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">
        <remap from="image" to="/camera/aligned_depth_to_color/image_raw" />
        <param name="output_frame_id" value="camera_link"  />
        <remap from="/scan" to="/camera/scan"/>
    </node>
</launch>
