<launch>
    <param name="use_sim_time" value="false" />
    <!-- <node pkg="amcl" type="amcl" name="amcl"/> -->
    <arg name="map" default="/home/dllm/maps/myhome3/myhome.yaml" />
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map)"/>

    <node pkg="jie_ware" type="lidar_loc" name="lidar_loc" >
        <param name="base_frame" value="base_link" />
        <param name="odom_frame" value="odom" />
        <param name="laser_frame" value="laser" />
        <param name="laser_topic" value="scan" />
    </node>

   <node pkg="move_base" type="move_base" name="move_base">
        <rosparam file="$(find base_driver)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find base_driver)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find base_driver)/params/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find base_driver)/params/local_costmap_params.yaml" command="load" />
        <param name="base_global_planner" value="global_planner/GlobalPlanner" /> 
        <param name="base_local_planner" value="agv_planner/AgvPlanner" />
  </node>
    
    <!-- <include file="$(find orb_slam2_ros)/ros/launch/orb_slam2_d435_rgbd.launch" /> -->


</launch>
