<launch>
  <arg name="no_static_map" default="false"/>

  <node pkg="move_base" type="move_base" name="move_base">
        <rosparam file="$(find base_driver)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find base_driver)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find base_driver)/params/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find base_driver)/params/local_costmap_params.yaml" command="load" />
        <param name="base_global_planner" value="global_planner/GlobalPlanner" /> 
        <param name="base_local_planner" value="agv_planner/AgvPlanner" />
  </node>
</launch>